{
  "presets": [
    "@babel/preset-typescript",
    [
      "@babel/preset-env",
      {
        "modules": false,
        "loose": true,
        "forceAllTransforms": true
      }
    ]
  ],
  "plugins": ["babel-plugin-annotate-pure-calls"]
}
