:root {
    --ifm-color-primary: #25c2a0;
    --ifm-color-primary-dark: rgb(33, 175, 144);
    --ifm-color-primary-darker: rgb(31, 165, 136);
    --ifm-color-primary-darkest: rgb(26, 136, 112);
    --ifm-color-primary-light: rgb(70, 203, 174);
    --ifm-color-primary-lighter: rgb(102, 212, 189);
    --ifm-color-primary-lightest: rgb(146, 224, 208);
    --ifm-code-font-size: 95%;
    --ifm-font-family-base:
        "Palatino Linotype", "Book Antiqua", Palatino, serif;
    --ifm-heading-font-family:
        "Palatino Linotype", "Book Antiqua", Palatino, serif;
    --ifm-font-size-base: 120%;
    --ifm-background-color: rgb(255, 255, 255);
    --ifm-background-color-semi-transparent: rgb(127, 127, 127, 0.03);
}

html[data-theme="dark"]:root {
    --ifm-background-color-semi-transparent: rgb(127, 127, 127, 0.2);
}

.docusaurus-highlight-code-line {
    background-color: rgba(0, 0, 0, 0.1);
    display: block;
    margin: 0 calc(-1 * var(--ifm-pre-padding));
    padding: 0 var(--ifm-pre-padding);
}

html[data-theme="dark"] .docusaurus-highlight-code-line {
    background-color: rgba(0, 0, 0, 0.3);
}

.main-wrapper {
    background-image:
        linear-gradient(
            to right,
            rgba(255, 255, 255, 0.4),
            var(--ifm-background-color)
        ),
        linear-gradient(
            to left,
            rgba(255, 255, 255, 0.4),
            var(--ifm-background-color)
        ),
        url("/img/catsleft.png"), url("/img/catsright.png");
    background-position:
        top left,
        top right;
    background-size: 10%;
    background-repeat: repeat-y;
}

html[data-theme="dark"] .main-wrapper {
    background-image:
        linear-gradient(
            to right,
            rgba(0, 0, 0, 0.4),
            var(--ifm-background-color)
        ),
        linear-gradient(
            to left,
            rgba(0, 0, 0, 0.4),
            var(--ifm-background-color)
        ),
        url("/img/catsleft.png"), url("/img/catsright.png");
}

.image {
    width: 100%;
    max-width: 166px;
    max-height: 128px;
}

.image_logo {
    max-width: 328px;
    max-height: 254px;
}

.image_header {
    vertical-align: -40px;
}
