.lightbox {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.2);
}

.hidden {
    display: none;
}

.modal {
    position: fixed;
    left: 20%;
    top: 20%;
    right: 20%;
    bottom: 20%;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.4);
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.modal-body {
    display: flex;
    flex-direction: column;
}

.button-group {
    display: flex;
    margin-left: auto;
    margin-top: auto;
    gap: 10px;
}
