name: CI

on:
    push:
        branches: [ master ]
    pull_request:
        branches: [ master ]

env:
    CI: true

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v2

            - name: Use Node.js 14
              uses: actions/setup-node@v1
              with:
                  node-version: 14.x

            - run: npm install
            - run: npm run bootstrap
            - run: npm run lint
            - name: "Run tests"
              run: |
                npm start &
                npm run test
              env:
                PORT: 3000
            - name: "Rebuild test container (uncontrolled)"
              run: |
                npm run build:test-container
              env:
                UNCONTROLLED: 'true'
            - name: "Run tests (uncontrolled)"
              run: |
                npm run serve &
                npm run test
              env:
                UNCONTROLLED: 'true'
                PORT: 4000
