name: Storybook deployment

on:
    push:
        branches: [master]

env:
    CI: true

jobs:
    build:
        runs-on: ubuntu-latest
        permissions:
            contents: write

        steps:
            - uses: actions/checkout@v2

            - name: Use Node.js 14
              uses: actions/setup-node@v1
              with:
                  node-version: 14.x

            - run: npm install
            - run: npm run build
            - run: npm run build-docs

            - name: Deploy docs
              uses: JamesIves/github-pages-deploy-action@4.1.1
              with:
                  branch: gh-pages
                  folder: docs/build
                  target-folder: /

                  clean: true

            - name: Deploy storybook
              uses: JamesIves/github-pages-deploy-action@4.1.1
              with:
                  branch: gh-pages
                  folder: storybook-static
                  target-folder: storybook

                  clean: true
